@font-face {
  font-family: "iconfont";
  src: url('../fonts/icons/iconfont.eot'); /* IE9*/
  src: url('../fonts/icons/iconfont.eot') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/icons/iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../fonts/icons/iconfont.svg') format('svg'); /* iOS 4.1- */
}

/* Base Application Styles */
html,body {
  width:100%;
  height:100%;
  color: #fff;
  background: #222;
}
.app {
  width:100%;
  height:100%
}

.stage{
  position:relative;

  width:100%;
  height:680px;
}
/*img start*/
.img-sec{
  position:relative;

  width:100%;
  height:100%;
  overflow: hidden;
  background-color: #ddd;

  perspective: 1800px;
  /*让内外class同级*/
  @at-root{
    .img-figure{
      transition:transform .6s ease-in-out , left .5s ease-in-out, top .5s ease-in-out;
      position: absolute;
      width: 320px;
      height: 360px;
      margin:0;
      padding: 40px;
      background-color: #fff;
      /*让width的值包含padding*/
      box-sizing: border-box;
      transform-style: preserve-3d;
      transform-origin: 0 50% 0;
      cursor: pointer;
      &.is-inverse {
        transform: translateX(320px) rotateY(180deg);
      } 

    }
    figcaption{
      text-align: center;

      .img-title{
        margin:20px 0 0 0;
        color:#a7a0a2;
        font-size: 16px;
      }
    }
  }

}
/*img end*/

/*controller -- start*/
.controller-nav{
  position:absolute;
  left:0;
  bottom:30px;
  z-index: 101;
  width: 100%;
  text-align: center;
  @at-root {
    .controller-unit{
      display:inline-block;
      margin:0 5px;
      width:30px;
      height:30px;
      vertical-align: middle;
      text-align: center;
      background-color: #aaa;
      border-radius: 50%;
      transform: scale(.5);
      transition:transform .3s ease-in-out,background-color .6s ease-in-out;
      cursor: pointer;
      &.is-center{
        background-color: #888;
        transform: scale(1);

        &::after{
          color:#fff;
          line-height: 30px;
          font-family:"iconfont";
          -webkit-font-smoothing:antialiased;
          -moz-osx-font-smoothing:grayscale;
          content:'\e657';
        }
      
        &.is-inverse {
              background-color: #555;
              transform: rotateY(180deg);
        }
      }
    }
  }
}
/*controller -- end*/
.index img {
  margin: 40px auto;
  border-radius: 4px;
  background: #fff;
  display: block;
}

.index .notice {
  margin: 20px auto;
  padding: 15px 0;
  text-align: center;
  border: 1px solid #000;
  border-width: 1px 0;
  background: #666;
}
